<div class="sidebar">
        <ul id="nav">
            <li><a href="/home"> <i class="fas fa-home"></i> Dashboard</a></li>
            <li><a href="/products"> <i class="fas fa-prescription-bottle-alt"></i> Products</a></li>
            <li><a href="/customers"> <i class="fas fa-baby-carriage"></i> Customers</a></li>
            <li><a href="/refill"> <i class="fas fa-baby-carriage"></i> Refills</a></li>
            <li><a href="/counterfeit"> <i class="fab fa-creative-commons-pd"></i> Counterfeit</a></li>
            <li><a href="/promotions"> <i class="fas fa-file-invoice-dollar"></i> Promotions</a></li>
            <li><a href="/sales"> <i class="fas fa-chart-pie"></i> Reports</a></li>
            <li><a href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
            
        </ul>
</div>